@import url("./fonts.css");


/* Main Components */
h1 {
   font-family: tarrgetacad, sans-serif; 
   font-size: 4rem;
}

h3 {
    font-family: tarrgetengrave, sans-serif;
    font-size: xx-large;
}

h4 {
    font-family: bebas-neue;
}

p {
    font-family: bebas-neue, sans-serif;
    font-size: 1.4rem;
}


body {
    background-color: #1A1A1D;
    
}


hr {
    border: 3px solid white;
}

.thumbnailBorder {
    border: 10px double #1A1A1D;
    margin-top: 3vh;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
}

.headerFont {
    font-family: bebas-neue, sans-serif;
    font-size: 30px;
}

/* hr tags */
.marginHR {
    margin-top: -15px;
}

.otherHR {
    border: 3px solid white;
    width: 85vh;
}

.separateHR {
    margin-top: 70px;
    border: 20px solid white;
    border-radius: 20px;
}

.title {
    font-size: 10vh;
}




.mainHeader {
    position: absolute;
    top: 30%;
    left: 8%;
    transform:translateY(-50%);
}

.contentBackground {
    /* background-color: #6F2232; */
    height: 100%;
    /* width: 100%; */
    background-image: url("../images/cardSection2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


 .deejay {
    height: 100vh;
    width: 100%;
    background-image: url("../images/WebBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
} 

.cardImg {
    height: 200px;
}

.centering {
    float: none;
    margin: 0 auto;
}

 
.footerColor {
    background-color: #4E4E50;
}

.inputMargin {
    margin-bottom: 100px;
}


.cardPad {
    /* margin-right: 1rem; */
    margin-top: 2rem;
}

.cardSize {
    width: 18rem;
}


/* Mobile Friendly */

@media all and (min-width:960px) and (max-width: 1024px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.0rem
    }

    .otherHR {
        /* margin-top: 0; */
        width: 180%;
    }
    .mainHeader {
        top: 60%;
        position: relative;
        text-align: center;
    }

    .title {
        text-align: left;
        font-size: 4.5rem;
        
    }

    .deejay { 
        height: 60vh;
        
        background-size: 100%;
        /* background-attachment: fixed; */
    }

    .welcomeText {
        font-size: 1.8rem;
        text-align: left;
        margin-top: -20px;
        

    }

    .thumbnailBorder {
        width: 75%;
        text-align: center;
        margin-left: 8vh;
        
    }

    .aboutText {
        text-align: center;
        font-size: 4rem;
        /* padding-right: -10rem; */
    }

    .aboutPara {
        font-size: 1.2rem;
        text-align: center;
    }

    .cardPad{
        margin-right: 8rem;
        margin-top: 1.5rem;
        
        /* padding-left: 2rem; */
    }
}


@media all and (min-width:801px) and (max-width: 959px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.0rem
    }

    .otherHR {
        width: 180%;
    }
    .mainHeader {
        top: 100%;
        position: relative;
        text-align: center;
    }

    .title {
        /* margin-top: 25%; */
        font-size: 3.5rem;  
        text-align: left;
    }

    .deejay { 
        height: 50vh;
        background-size: 100%;
        
    }

    .welcomeText {
        font-size: 1.5rem;
        text-align: left;
        margin-top: -20px;
        
        position: absolute;
    }

    .thumbnailBorder {
        width: 50%;
        margin-left: 25%
    }

    .aboutText {
        text-align: center;
        font-size: 4rem;
        /* padding-right: -10rem; */
    }

    .aboutPara {
        font-size: 1.2rem;
        text-align: center;
    }

    .cardPad{
        margin-right: 10rem;
        margin-top: 1.5rem;
        
        /* padding-left: 2rem; */
    }
}   


@media all and (min-width:769px) and (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.0rem
    }

    .otherHR {
        width: 180%;
    }
    .mainHeader {
        top: 100%;
        position: relative;
        text-align: center;
    }

    .title {
        
        margin-top: 15%;
        font-size: 3.2rem;  
        
        text-align: left;
    }

    .deejay { 
        height: 50vh;     
        background-size: 100%;
        
    }

    .welcomeText {
        font-size: 1.3rem;
        text-align: left;
        margin-top: -20px;
        
        position: absolute;
    }

    .thumbnailBorder {
        width: 50%;
        margin-left: 25%
    }

    .aboutText {
        text-align: center;
        font-size: 4rem;
        /* padding-right: -10rem; */
    }

    .aboutPara {
        font-size: 1.2rem;
        text-align: center;
    }

    .cardPad{
        margin-right: 10rem;
        margin-top: 1.5rem;
        
        /* padding-left: 2rem; */
    }
}





@media all and (min-width:569px) and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.0rem
    }

    .otherHR {
        

        width: 180%;
    }
    .mainHeader {
        top: 100%;
        position: relative;
        text-align: center;
    }

    .title {
        
        margin-top: 15%;
        font-size: 2.8rem;  
       
        text-align: left;
    }

    .deejay { 
        height: 50vh;
        
        background-size: 100%;
        
    }

    .welcomeText {
        font-size: 1.3rem;
        text-align: left;
        margin-top: -20px;
        
        position: absolute;
    }

    .thumbnailBorder {
        width: 60%;
        margin-left: 20%
    }

    .aboutText {
        text-align: center;
        font-size: 4rem;
        /* padding-right: -10rem; */
    }

    .aboutPara {
        font-size: 1.2rem;
        text-align: center;
    }

    .cardPad{
        /* margin-right: .2rem; */
        /* margin-top: 1.5rem; */
        
        padding-left: 6rem;
    }
}


@media all and (min-width:481px) and (max-width: 568px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.0rem
    }

    .otherHR {


        width: 180%;
    }
    .mainHeader {
        top: 100%;
        position: relative;
        text-align: center;
    }

    .title {
        
        margin-top: 25%;
        font-size: 2.5rem;

        text-align: left;
    }

    .deejay { 
        height: 50vh;
        
        background-size: 100%;

    }

    .welcomeText {
        font-size: 1rem;
        text-align: left;
        margin-top: -20px;
        
        position: absolute;
    }

    .thumbnailBorder {
        width: 50%;
        margin-left: 25%
    }
    

    .aboutText {
        text-align: center;
        font-size: 2rem;
        /* padding-right: -10rem; */
    }

    .aboutPara {
        font-size: 1rem;
        text-align: center;
    }

    .cardPad{
        /* margin-right: .2rem; */
        /* margin-top: 1.5rem; */
        
        padding-left: 4rem;
    }

    
}
  

@media all and (min-width:321px) and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.0rem
    }

    .otherHR {


        width: 180%;
    }
    .mainHeader {
        top: 150%;
        position: relative;
        text-align: center;
    }

    .title {
        
        margin-top: 10%;
        font-size: 200%;
        text-align: left;
    }

    .deejay { 
        height: 50vh;
        
        background-size: 100%;
        
    }

    .welcomeText {
        font-size: 1rem;
        text-align: left;
        margin-top: -20px;
        
        position: absolute;
    }

    .thumbnailBorder {
        width: 50%;
        margin-left: 25%
    }

    .aboutText {
        text-align: center;
        font-size: 2rem;
        /* padding-right: -10rem; */
    }

    .aboutPara {
        font-size: 1rem;
        text-align: center;
    }

    .cardPad{
        /* margin-right: .2rem; */
        /* margin-top: 1.5rem; */
        
        padding-left: 2rem;
    }

    .cardSize {
        width: 16rem;
    }
}


@media all and (min-width:0px) and (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.0rem
    }

    .otherHR {
        

        width: 180%;
    }
    .mainHeader {
        top: 200%;
        position: relative;
        text-align: center;
    }

    .title {
        
        margin-top: 10%;
        /* margin-bottom: auto; */
        font-size: 1.5rem;
        
        text-align: left;
    }

    .deejay { 
        height: 50vh;
        
        background-size: 100%;
        
    }

    .welcomeText {
        font-size: 10px;
        text-align: left;
        margin-top: -20px;
        
        position: absolute;
    }

    .thumbnailBorder {
        width: 80%;
        margin-left: 12%
    }

    .aboutText {
        text-align: center;
        font-size: 2rem;
        /* padding-right: -10rem; */
    }

    .aboutPara {
        font-size: 1rem;
        text-align: center;
    }

    .cardPad{
        /* margin-right: .2rem; */
        /* margin-top: 1.5rem; */
        
        padding-left: -10rem;
    }

    .cardSize {
        width: 12rem;
    }
}