@import url("./fonts.css");


/* Main Components */
h1 {
   font-family: tarrgetacad, sans-serif; 
   font-size: 4rem;
}

h3 {
    font-family: tarrgetengrave, sans-serif;
    font-size: xx-large;
}

h4 {
    font-family: bebas-neue;
}

p {
    font-family: bebas-neue, sans-serif;
    font-size: 1.4rem;
}


body {
    background-color: #1A1A1D;
    
}


hr {
    border: 3px solid white;
}

.thumbnailBorder {
    border: 10px double #1A1A1D;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
}
/* ::-webkit-input-placeholder {
    color: white;
}

::placeholder {
    color: white;
} */

.headerFont {
    font-family: bebas-neue, sans-serif;
    font-size: 30px;
}

.marginHR {
    margin-top: -15px;
}

.separateHR {
    margin-top: 70px;
    border: 20px solid white;
    border-radius: 20px;
}

.title {
    font-size: 8rem;
}


/* .profilePic {
    
    
} */

.mainHeader {
    position: absolute;
    top: 30%;
    left: 8%;
    transform:translateY(-50%);
}

.contentBackground {
    /* background-color: #6F2232; */
    height: 100%;
    /* width: 100%; */
    background-image: url("../images/cardSection2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


 .deejay {
    height: 100vh;
    width: 100%;
    background-image: url("../images/WebBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
} 

.cardImg {
    height: 200px;
}

.centering {
    float: none;
    margin: 0 auto;
}

 
.footerColor {
    background-color: #4E4E50;
}

.inputMargin {
    margin-bottom: 100px;
}


/* Mobile Friendly */

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.0rem
    }

    .title {
        padding-top: 10%;
        font-size: 250%;
        text-align: center;
    }

    .deejay { 
        height: 50vh;
        width: 55vh;
        background-size: 400px 50%;
    }

    .welcomeText {
        font-size: 65%;
        text-align: center;
    }

    .thumbnailBorder {
        width: 250px;

    }
}